<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
   <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty name="LOG_HOME" source="log.home" defaultValue="logs"/>
    <springProperty name="APP" source="log.app" defaultValue="LeaseOrder"/>
    <property name="email_subject" value="【Error Mop】应用告警"/>
    <property name="LOG_HOME" value="logs" />
     <include resource="com/xp/springboot/mop/config/monitor/alarmer-logback.xml"/>

 
    <!-- INFO Level -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/mop.log</File>
         <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>   
        </encoder> 
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/mop.%d{yyyy-MM-dd}.log</FileNamePattern> 
        </rollingPolicy>
    </appender>
    
    <!-- Error Level -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
         <File>${LOG_HOME}/mop_error.log</File>
         <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>   
        </encoder> 
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/mop_error.%d{yyyy-MM-dd}.log</FileNamePattern> 
        </rollingPolicy>
    </appender>
    
    <!--  -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
        
    </appender>
    
    
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">    
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    
    
    <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${log.dir}/monitor.log</File>  
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} : %m%n</pattern>  
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>INFO</level>  
        </filter>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${log.dir}/sensitive.log.%d{yyyy-MM-dd}</fileNamePattern>  
        </rollingPolicy>  
    </appender>  
    
    
    <logger name="monitor" additivity="false" level="INFO" />  
    <logger name="java.sql" level="ERROR" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.mybatis" level="ERROR" />
    <logger name="com.xp.springboot.mop.config.monitor.MonitorInterceptor" level="DEBUG"/>
    <!--  -->
    <root level="DEBUG">
        <appender-ref ref="info" />
        <appender-ref ref="error" />
        <appender-ref ref="console" />
        <appender-ref ref="FILE" />
        <appender-ref ref="monitor" />
    </root>
    
    
    <!-- ${catalina.base} -->
</configuration>